.parent-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.item-property {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 917px) {
  .parent-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
